# Core Module Python Programming

In [6]:
print("Hello World")

Hello World

In [7]:
print(7+8)

15

In [8]:
num= (22)

In [9]:
print(num)

22

In [2]:
num1=("python")

In [3]:
print(num1)

python

# Getting the Data type

In [12]:
#print the data type of variable num
type(num)

int

In [13]:
type(num1)

str

In [14]:
lst = ["apple","cherry","grapes"]

In [15]:
lst

['apple', 'cherry', 'grapes']

In [16]:
range(8)

range(0, 8)

In [17]:
x= range(8)
x

range(0, 8)

In [18]:
print(5*5)

25

In [19]:
print(25/2)

12.5

if num > 5:
    print("Hello")

In [20]:
if True:
    print('hello')

hello

In [21]:
if num > 90:
    print('hello')

In [22]:
num = 2

In [23]:
if num > 50:
    print('Number is higher')
elif num == 50:
    print('Number is equal')
else: 
    print('Number is lesser')

Number is lesser

In [24]:
print('Number is higher') if num>10 else print("Number is lesser")

Number is lesser

In [25]:
num1 = 10
num2 = 70
num1, num2

(10, 70)

In [26]:
num3=num1
num1= num2
num2=num3

In [27]:
num1,num2

(70, 10)

In [28]:
num1 , num2 = num2, num1

In [29]:
num1, num2

(10, 70)

# for loop

In [30]:
for count in range(0,8):
    print(count)

0
1
2
3
4
5
6
7

In [31]:
def double(num):
    return 2*num

In [32]:
double(4)

8

In [33]:
lst = [1,2,3,4,5,6,7]
print(lst[4])

5

In [34]:
def factorial(num):
    f=1
    for count in range (1,num+1):
        f=f*count
    return f

In [35]:
factorial(8)

40320

In [36]:
lst[0:5]

[1, 2, 3, 4, 5]

In [37]:
lst[:4]

[1, 2, 3, 4]

In [49]:
lst[3:]

[4, 5, 6, 7]

In [ ]:
#### lst[2]=1
lst

In [40]:
print('number line:',lst)

number line: [1, 2, 1, 4, 5, 6, 7]

In [41]:
def factorial(num):
    f=1
    for count in range (1,num+1):
        f=f*count
    return f

In [42]:
factorial(6)

720

In [43]:
#6*5*4*3*2*1
def fact(num):
    if num==1:
        return num
    else:
        return num*fact(num-1)

In [44]:
fact(7)

5040

In [45]:
if 5>2:
        print("five is greater than two")

five is greater than two

In [1]:
planet= 'earth'
diameter= 122334